################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV.Android/bin/Debug
/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV/bin
/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV.iOS/obj/iPhone/Debug
/.vs
/DocScanOpenCV/.vs/DocScanOpenCV
