################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV.Android/bin
/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV.Android/obj
/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV.Android/obj/Debug
/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV/bin
/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV/obj
/DocScanOpenCV/DocScanOpenCV/DocScanOpenCV.iOS
/.vs
/DocScanOpenCV/.vs/DocScanOpenCV
/DocScanOpenCV/DocScanOpenCV/src/OpenCvSharp/bin
/DocScanOpenCV/DocScanOpenCV/src/OpenCvSharp/obj
/DocScanOpenCV/DocScanOpenCV/src/OpenCvSharp.Android/bin
/DocScanOpenCV/DocScanOpenCV/src/OpenCvSharp.Android/obj
